{% extends "skeleton.html" %}

{% block contents %}
<div class="dashboard-container">
    <div class="dashboard-top">
        <div class="dashboard-left">
            <h1>Your Code Files</h1>
        </div>
        
        <div class="dashboard-right d-flex align-items-center">
            <div class="message-section">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="flash {{ category }}">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <a href="{{ url_for('dashboard') }}">
                <img src="{{ url_for('static', filename='github-logo-home.png') }}" alt="MoiHub Logo" class="dashboard-logo">
            </a>
        </div>
    </div>
    <div class="dashboard-bottom">
        {% if code_files %}
            <ul class="list-group">
                {% for code_file in code_files %}
                    <li class="list-group-item my-2 bg-secondary text-light">
                        <a href="{{ url_for('code_file.view_code_file', safe_code_id=code_file.get_safe_id(srp)) }}" class="text-light">
                            {{ code_file.name }} ({{ code_file.language }})
                        </a>
                        <a href="{{ url_for('code_file.edit_code_file', safe_code_id=code_file.get_safe_id(srp)) }}" class="btn btn-secondary">EDIT</a>
                        <form action="{{ url_for('code_file.delete_code_file', safe_code_id=code_file.get_safe_id(srp)) }}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">DELETE</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No code files found.</p>
        {% endif %}
    </div>
    <div class="logout-button">
        <form action="{{ url_for('logout') }}" method="post" style="display:inline;">
            <button type="submit" class="btn btn-danger custom-btn">Logout</button>
        </form>
    </div>
</div>
{% endblock %}