{% extends "skeleton.html" %}

{% block contents %}
<div class="dashboard-container">
    <div class="dashboard-top">
        <div class="dashboard-left">
            <h1>Edit Code File</h1>
        </div>
        <div class="dashboard-right">
            <a href="{{ url_for('dashboard') }}">
                <img src="{{ url_for('static', filename='github-logo-home.png') }}" alt="MoiHub Logo" class="dashboard-logo">
            </a>
        </div>
    </div>
    <div class="dashboard-bottom form-container">
        <form action="{{ url_for('code_file.edit_code_file', safe_code_id=code_file.get_safe_id(srp)) }}" method="POST">
            <div class="form-group mt-3">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="form-control" value="{{ code_file.name }}" required>
            </div>
            <div class="form-group mt-3">
                <label for="content">Content:</label>
                <textarea id="content" name="content" class="form-control" rows="30" required>{{ code_file.content }}</textarea>
            </div>
            <div class="form-group mt-3">
                <label for="language">Language:</label>
                <input type="text" id="language" name="language" class="form-control" value="{{ code_file.language }}" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3 custom-btn">Update</button>
        </form>
    </div>
    <div class="logout-button">
        <form action="{{ url_for('logout') }}" method="post" style="display:inline;">
            <button type="submit" class="btn btn-danger custom-btn">Logout</button>
        </form>
    </div>
</div>
{% endblock %}
