{% extends "skeleton.html" %}

{% block contents %}
<div class="login-page">
    <div class="message-section">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="main-container">
        <div class="container">
            <div class="mt-5 p-4 bg-dark rounded shadow">
                <img src="{{ url_for('static', filename='github-logo.png') }}" alt="MoiHub Logo" class="mb-4 custom-logo">
                <h1 class="h4 mb-3">Sign in to MoiHub</h1>
                <form action="{{ url_for('login') }}" method="post">
                    <div class="form-group mb-3">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block custom-btn">Sign in</button>
                </form>
                <p class="mt-3">New to MoiHub? <a href="{{ url_for('register') }}">Create an account</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
