{% extends "skeleton.html" %}

{% block contents %}

<div class=".login-page">
    <div class="message-section">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

<div class="main-container">
    <div class="container">
        <img src="{{ url_for('static', filename='github-logo.png') }}" alt="MoiHub Logo" class="mb-4 custom-logo">
        <h1 class="h4 mb-3">Register</h1>
        <form action="{{ url_for('register') }}" method="POST">
            <div class="form-group mb-3">
                <label for="email" class="visually-hidden">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
            </div>
            <div class="form-group mb-3">
                <label for="password" class="visually-hidden">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block custom-btn">Register</button>
        </form>
        <a href="{{ url_for('main') }}" class="back-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 1-.5.5H4.707l3.147 3.146a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L4.707 7.5H14.5A.5.5 0 0 1 15 8z"/>
            </svg>
        </a>
    </div>
</div>
{% endblock %}
