body {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%; /* Aumentar el ancho para evitar la barra de desplazamiento */
    height: 95%; /* Aumentar la altura para evitar la barra de desplazamiento */
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 90%; /* Reducido para evitar la barra de desplazamiento */
    height: 90%;
    background-color: #161b22;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.message-section {
    margin-right: 10px; /* Añadir espacio entre el mensaje y el logo */
}

.flashes {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Asegúrate de que no haya márgenes */
}

.flash {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #d4edda;
    color: #155724;
}

.flash.error {
    background-color: #f8d7da;
    color: #721c24;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
}

.dashboard-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-left {
    display: flex;
    gap: 10px;
}

.dashboard-right {
    display: flex;
    align-items: center;
}

.dashboard-right img {
    width: 70px;
    height: 70px;
}

.dashboard-bottom {
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
}

.community-section {
    width: 100%;
    margin-top: 20px;
}

.community-section ul {
    list-style-type: none;
    padding: 0;
}

.community-section li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.container {
    max-width: 400px;
    width: 100%;
    background-color: #161b22;
    padding: 50px 30px 60px 30px; /* Aumentar el padding inferior para la flecha */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    position: relative;
}

.code-file-container {
    max-width: 800px;
    width: 100%;
    background-color: #161b22;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.code-file-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.code-file-content {
    margin-top: 20px;
    background-color: #0d1117;
    padding: 20px;
    border-radius: 8px;
    color: #c9d1d9;
    overflow-x: auto;
}

.comments-section {
    margin-top: 20px;
}

h1 {
    color: #ffffff;
    font-weight: 700;
}

a {
    color: #58a6ff;
    text-decoration: none; /* Quitar subrayado de todos los enlaces */
}

.btn-primary, .btn-secondary, .btn-danger {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none; /* Quitar subrayado de los botones */
}

.btn-primary {
    background-color: #238636;
    border-color: #238636;
}

.btn-secondary {
    background-color: #444c56;
    border-color: #444c56;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin-left: 5px; /* Añadir margen entre botones */
}

.btn-danger {
    background-color: #d73a49;
    border-color: #d73a49;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin-left: 5px; /* Añadir margen entre botones */
}

.like-icon {
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: 30px; /* Ajusta el tamaño según sea necesario */
    margin-right: 5px;
    margin-bottom: 2px;
}

.favorite-icon {
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: 30px; /* Ajusta el tamaño según sea necesario */
    margin-left: 10px;
}

.likes-count {
    font-size: 20px; /* Ajusta el tamaño según sea necesario */
    margin-right: 5px;

}


.favorite-button {
    display: flex;
    align-items: center;
}

.form-control {
    background-color: #0d1117;
    color: #c9d1d9;
    border: 1px solid #30363d;
    font-weight: 700;
    border-radius: 5px;
    width: 99%;
}

.form-control:focus {
    border-color: #58a6ff;
    box-shadow: 0 0 0 3px rgba(88, 166, 255, 0.3);
}

.form-control-sm {
    height: 35px; /* Altura ajustada para campos de texto pequeños */
}

.form-control-md {
    height: 200px; /* Altura ajustada para textarea */
}

.alert {
    border-radius: 5px;
}

img {
    width: 70px;
    height: 70px;
    display: block;
}

.form-group {
    margin-bottom: 15px;
}

.custom-btn {
    font-weight: 700;
    color: #ffffff;
    background-color: #238636;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: auto;
    text-decoration: none; /* Quitar subrayado */
}

.custom-btn:hover {
    background-color: #2ea043;
}

.back-arrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #58a6ff;
    text-decoration: none;
}

.back-arrow:hover {
    color: #ffffff;
}

.login-page .message-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Ajusta la altura según sea necesario */
    margin-bottom: 20px; /* Espacio entre el mensaje y el contenedor principal */
}

.login-page .flashes {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.login-page .flash {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #d4edda;
    color: #155724;
}

.login-page .flash.error {
    background-color: #f8d7da;
    color: #721c24;
}
